/* Applies to all elements */
* {
  color: rgb(36, 39, 44);
}

body {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

main {
  max-width: 960px;
  width: 100%;
  justify-self: center;
}
/* Style for title and navbar */
header {
  color: slategray;
  width: calc(100vw - 20px);
  margin: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 30px;
}

nav > a {
  transition: 0.2s;
}

nav > a:hover {
  color:rgb(169, 172, 176);
}

a, p {
  text-decoration: none;
}

h1 {
  color: hsl(223deg 30% 45%);
}

h2 {
  font-weight: 500;
  margin-bottom: 8px;
}

h3 {
  margin-bottom: 8px;
}

h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}

strong {
  color: hsl(223deg 30% 45%);
  font-weight: 700;
}

em {
  color: hsl(223deg 30% 45%);
}

.grid {
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 60px;
  row-gap: 20px;
}

.grid > .user {
  background-color: whitesmoke;
  border: rgb(72, 76, 82) solid 1px;
  border-radius: 10px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.grid > .lead {
  height: 70px;
  grid-column-start: 1;
  grid-column-end: 4;
}

a[target=_blank] {
  text-decoration: underline;
  color:rgb(72, 76, 82);
}

.media-item {
  border-radius: 10px;
}

.focus-object {
  margin: 16px 0;
}

.QA.focus-object {
  margin: 16px;
  padding: 6px 14px 6px 14px;
  border-left:rgb(36, 39, 44) solid 4px;
}

.QA > em{
  color:rgb(169, 172, 176);
  line-height: 1.8em;
}

.QA p {
  margin: 6px 0;
}

.QA.additional-info {
  padding: 6px 14px 6px 14px;
}

.QA.additional-info p {
  display: inline;
}


/* Style of Forms */
form {
  background-color: whitesmoke;
  padding: 12px 14px;
  border-radius: 10px;
}

fieldset {
  border: none;
}

legend {
  font-size: 24px;
  line-height: 1.2em;
  font-weight: 700;
}

fieldset label {
  font-weight: 600;
  padding: 0 14px;
  border: none;
}

footer {
  width: 100vw;
  height: 40px;
  text-align: center;
}

fieldset {
  display: block;
}

fieldset > div {
  margin-bottom: 12px;
}

textarea {
  width: 600px;
  height: 100px;
  font-family: 'Public Sans', sans-serif;
}

#media {
  width: inherit;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  gap: 40px
}

/* Attendance list checker elements */
.attendance {
  background-color: whitesmoke;
  border-style: solid;
  border-color: slategray;
  border-width: 1px;
  border-radius: 10px;
  padding: 2px 0 20px 0;
}

.attendance h2 {
  padding-left: 12px;
}

.attendance .user {
  padding-left: 24px;
}

.user input {
  cursor: pointer;
}

.user label {
  color: #5f6a71;
  padding-left: 4px;
  margin: auto;
  cursor: pointer;
}

.user input:checked + label {
  color: #6cbd4c;
  transition: 0.2s;
}